*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family:Arial, helvetica,sans-serif;
background-color:white;
}
.navbar{
    height:100px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 70px;
    background-color:white;


}

.logo{
    font-size:38px;
    font-weight:bold;
    color:#3182e5;

}
 nav{ 
      display:flex;
      align-items:center;
      gap:35px;
 }

 nav a{
    text-decoration:none;
    color:#222;
    font-size:22px;
 }

 .login-btn{
    border:none;
    background-color: #357fe5;
    color:white;
    font-size:20px;
    font-weight:bold;
    padding:18px 32px;
    border-radius:7px;
    cursor: pointer;
 }
.login-btn:hover {
    background-color:#5f94d5;

}
.hero{
    min-height:  calc(100vh-100px);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background: linear-gradient(
    
       131deg,   
        #3789ee,
        #273bb2);
        color:white;

    
}
.hero-content{
    width:80%;
    max-width:900px;

}
.hero h1 {
    font-size:64px;
    font-weight:700;
    margin-bottom:55px;


}

.hero p{
    font-size:28px;
    font-weight:500;
 margin-bottom:55px;
}
.get-started{
    display: block;
    width:100%;
    padding:25px;
    border:none;
    border-radius:12px;
    background-color:white;
    color:#347bd5;
    font-size:28px;
    font-weight:600;
    cursor:pointer;
    margin-bottom:55px;
}
.get-started:hover{
    background-color:#ebe4e4;

}

.learn-more{
    color:white;
    text-decoration:none;
    font-size:27px;
    font-weight:600;
}
.learn-more:hover{
    text-decoration:underline;
}
@media( max-width: 760px){
    .navbar{
        padding:0 25px;
        height: 80px;
    
    }
    .logo{
        font-size:28px;

    }
    nav
    {
        gap:15px;

    
    }

    nav a{
        font-size:16px;
    }

    .login-btn{
        padding:12px 18px;
        font-size:16px;
    }
    .hero h1{
        font-size:40px;
    }

    .hero p{
        font-size:19px;
        margin-bottom:40px;

    }
    .get-started{
        font-size:20px;
        padding:20px;
    }
    .learn-more{
        font-size:20px;
    }

    
}
